doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // CSS
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,800', rel='stylesheet', type='text/css')
    // JS
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='https://code.jquery.com/ui/1.12.0-beta.1/jquery-ui.js')
    script(src='/socket.io/socket.io.js')
    script(src='scripts/client.js')
  body
    a(href='login') Login